html{
    background-color: #333;
}
body{
    background-color: gray;
}
.logo{
    float: left;
}
.nav{
    float: right;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
img{
    padding: 0;
}
.image{
    display: flex;
    flex: 25%;
    padding: 5px;
}
h1{
    font-family: "Times New Roman";
    color: white;
    text-align: center;
}
.footer{
    background-color: gray;
    color: white;
    text-align: center;
}